/*  your css code here. If applicable */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
#container{
    width: 320px;
    height:100px;
    background-color:rgb(228, 226, 226);
    border: solid black 4px;
    border-radius: 40px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    
}
.green{
    width: 100px;
    height:100px;
    background-color: green;
    border-radius: 50%;
}
.yellow{
    width: 100px;
    height:100px;
    background-color: yellow;
    border-radius: 50%;
}
.red{
    width: 100px;
    height:100px;
    background-color:red;
    border-radius: 50%;
}